<div>
    <p class="comment_user"><%= comment.author.name %>: <span class="comment_text"><%= comment.text %></span></p>
    <% if can? :destroy, comment %>
      <%= button_to "Delete Comment", user_post_comment_path(user_id: @post.author.id, post_id: @post.id, id: comment.id), method: :delete, class:"new_post" %>
    <%end %>
</div>