<div class="block">
  <div class="photo">
    <%= image_tag(user.photo, size: "55") %>
  </div>
  <div class="row-part">
    <h3><%= link_to(user_path(user.id)) {user.name} %></h3>
    <p><%= render partial: 'users/count', object: user.posts_counter %></p>
  </div>
</div>
